{% extends 'core/base.html' %}

{% block content %}


<table align="center" style="width:90; padding: 10px;">
<caption>Статьи</caption>
  <tr>
    <th>No</th>
    <th>Название</th>
    <th>Автор</th>
    <th>Поездка</th>
  </tr>
    {% for article in articles %}
       <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url 'article' id=article.id %}">{{ article }}</a></td>
           <td><a href="{% url 'author' id=article.author.id %}">{{ article.author }}</a></td>
           <td>{{ article.trip }}</td>
      </tr>
    {% endfor %}
  <tr>

  </tr>
  <tr>

  </tr>
</table>
{% endblock %}