<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
     <link type="text/css" href="{% static 'core/css/styles_for_article.css' %}" rel="stylesheet" />
</head>

<div>
    <h2>Статья "{{ article.name }}"</h2>
    <p>
    {{ article.text }}
    </p>
</div>

</div>
</body>
</html>