{% extends 'core/base.html' %}

{% block content %}

<style>
  #search {
        padding: 10px 20px;
  }
</style>
<form id="search" action="#" method="GET">
    <input name="search_name">
    <input type="submit" value="Поиск">
</form>


<table align="center" style="width:90; padding: 10px;">
<caption>Авторы</caption>
  <tr>
    <th>No</th>
    <th><a href="{% url 'authors' %}?sort_by=last_name">Имя</a></th>
      <th>Почта</th>
      <th>Страна Автора</th>
      <th>Город Автора</th>
    <th>Поездки</th>
    <th><a href="{% url 'authors' %}?sort_by=article">Статьи</a></th>
    <th>Комментарии</th>
  </tr>
    {% for author in authors %}
       <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url 'author' id=author.id %}">{{ author }}</a> </td>
           <td>{{ author.email }}</td>
           <td>{{ author.country }}</td>
           <td>{{ author.city }}</td>
          <td>{{ author.trips.count }}</td>
          <td>{{ author.articles.count }}</td>
          <td>{{ author.comments.count }}</td>
      </tr>
    {% endfor %}
  <tr>

  </tr>
  <tr>

  </tr>
</table>
{% endblock %}