{% extends 'core/base.html' %}

{% block content %}

<table align="center" style="width:90; padding: 10px;">
  <caption>Автор</caption>
  <tr>
    <th>No</th>
    <th>Имя</th>
    <th>Почта</th>
    <th>Страна Автора</th>
    <th>Город Автора</th>
  </tr>
  <tr>
    <td>1</td>
    <td>{{ author }}</td>
    <td>{{ author.email }}</td>
    <td>{{ author.country }}</td>
    <td>{{ author.city }}</td>
  </tr>
</table>

<table align="center" style="width:90; padding: 10px;">
  <caption>Поездки</caption>
  <tr>
    <th>No</th>
    <th>Страна</th>
    <th>Город</th>
    <th>Дата поездки</th>
    <th>Дата окончания поездки</th>
  </tr>
  {% for trip in author.trips.all %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ trip }}</td>
      <td>{{ trip.city_trip }}</td>
      <td>{{ trip.date_trip }}</td>
      <td>{{ trip.date_end_trip }}</td>
    </tr>
  {% endfor %}
  <tr>
  </tr>
  <tr>
  </tr>
</table>

<table align="center" style="width:90; padding: 10px;">
  <caption>Статьи</caption>
  <tr>
    <th>No</th>
    <th>Название</th>
    <th>Текст</th>
    <th>Поездка</th>
  </tr>
  {% for article in author.articles.all %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ article }}</td>
      <td>{{ article.text }}</td>
      <td>{{ article.trip }}</td>
    </tr>
  {% endfor %}
  <tr>
  </tr>
  <tr>
  </tr>
</table>

{% endblock %}