<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
<div class="sidenav">
  <a href="/authors/">Авторы</a>
  <a href="/trips/">Поездки</a>
  <a href="/articles/">Статьи</a>
  <a href="/comments/">Комментарии</a>
    <a href="/admin/">Админка</a>

</div>

<!-- Page content -->
<div class="main">
    {% block content %}{% endblock %}
</div>
</body>
</html>
</html>
