{% extends 'core/base.html' %}

{% block content %}

<a style="margin-left: 3%;" href="{% url 'create_comment' %}"><button>Новый комментарий</button></a>

<table align="center" style="width:90; padding: 10px 40px ;">
<caption>Комментарии</caption>
  <tr>
    <th>No</th>
    <th>Комментарий</th>
      <th>Статья</th>
    <th>Автор</th>
  </tr>
    {% for comment in comments %}
       <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ comment }}</td>
           <td>{{ comment.article }}</td>
           <td><a href="{% url 'author' id=comment.author.id %}">{{ comment.author }}</a></td>
      </tr>
    {% endfor %}
  <tr>

  </tr>
  <tr>

  </tr>
</table>
{% endblock %}