{% extends 'core/base.html' %}

{% block content %}

<div align="center">
    <h2>Новый комментарий</h2>
    <hr>
        <form id="create_comment" action="#" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Создать">
        </form>
    </hr>
</div>


{% endblock %}