<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1 align="center">
Информация о нас
</h1>
<main align="center">
        <p>Добро пожаловать в наш форум для тех, кто разделяет любовь к приключениям! Здесь вы можете делиться впечатлениями от своих путешествий, рекомендовать уникальные места, обмениваться советами по планированию маршрутов и находить вдохновение для новых приключений.</p>
    </main>
</body>
</html>