{% extends 'core/base.html' %}

{% block content %}
<table align="center" style="width:90; padding: 10px;">
<caption>Поездки</caption>
  <tr>
    <th>No</th>
    <th>Страна</th>
      <th>Город</th>
      <th>Дата поездки</th>
      <th>Дата окончания поездки</th>
    <th>Автор</th>
  </tr>
    {% for trip in trips %}
       <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ trip }}</td>
           <td>{{ trip.city_trip }}</td>
           <td>{{ trip.date_trip }}</td>
           <td>{{ trip.date_end_trip }}</td>
          <td><a href="{% url 'author' id=trip.author.id %}">{{ trip.author }}</a> </td>
      </tr>
    {% endfor %}
  <tr>

  </tr>
  <tr>

  </tr>
</table>
{% endblock %}